@use 'base/variable' as v;
@use 'base/mixins' as m;

.contenedor_result{
    padding: 3rem 0;

    @include m.telefono{
        padding: 0;
    }

    h4{
        font-size: 4rem;
        margin: 0;
        padding: 0;
        font-style: italic;
        font-weight: bolder;

        @include m.telefono{
            font-size: 5.4rem;
        }

        @include m.tablet{
            font-size: 6.1rem;
        }
        
        @include m.desktop{
            font-size: 10rem;
        }

        .date_fecha{
            color: v.$Purple;
        }
    }
}